
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{'pageLayout.header.changePassword' | translate}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">

      <form novalidate
            [formGroup]="myform">

        <div class="input-group mb-1" title="{{'common.userName'|translate}}"
             [ngClass]="{
       'has-danger': username.invalid && (username.dirty || username.touched),
       'has-success': username.valid && (username.dirty || username.touched)}">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text"
                 class="form-control"
                 [readonly]="true"
                 required
                 formControlName="username"
                 
                 placeholder="{{'common.userName'|translate}}" />
        </div>
        <div style="color:red" *ngIf="username.errors && (username.dirty || username.touched )">
          <p *ngIf="username.errors.required">{{'common.userName'|translate}}{{'common.isRequired'|translate}}</p>
          <p *ngIf="username.errors.minlength">{{'common.userName'|translate}}{{'common.minLength'|translate:username.errors}}</p>
        </div>
        <div class="input-group mb-1" title="{{'common.password'|translate}}"
             [ngClass]="{
       'has-danger': password.invalid && (password.dirty || password.touched),
       'has-success': password.valid && (password.dirty || password.touched)}">
          <span class="input-group-addon">
            <i class="fa fa-key"></i>
          </span>
          <input type="password"
                 class="form-control"
                 required
                 formControlName="password"
                 
                 placeholder="{{'common.password'|translate}}" />
        </div>
        <div style="color:red" *ngIf="password.errors && (password.dirty || password.touched )">
          <p *ngIf="password.errors.required">{{'common.password'|translate}}{{'common.isRequired'|translate}}</p>
          
        </div>

        <fieldset formGroupName="passwordGroup">
          <div class="input-group mb-1"  title="{{'common.newPassword'|translate}}"
               [ngClass]="{
        'has-danger': newPassword.invalid && (newPassword.dirty || newPassword.touched),
        'has-success': newPassword.valid && (newPassword.dirty || newPassword.touched)}">
            <span class="input-group-addon">
              <i class="fa fa-key"></i>
            </span>
            <input type="password"
                   class="form-control"
                   required
                   formControlName="newPassword"
                  
                   placeholder="{{'common.newPassword'|translate}}" />
          </div>
          <div style="color:red" *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
            <p *ngIf="newPassword.errors.required">{{'common.newPassword'|translate}}{{'common.isRequired'|translate}}</p>
            <p *ngIf="newPassword.errors.minlength">{{'common.newPassword'|translate}}{{'common.minLength'|translate:newPassword.errors}}</p>
          </div>
          <div class="input-group mb-1" title="{{'common.confirmPassword'|translate}}" 
               [ngClass]="{
       'has-danger': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),
       'has-success': confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)}">
            <span class="input-group-addon">
              <i class="fa fa-key"></i>
            </span>
            <input type="password"
                   class="form-control"
                   required
                   formControlName="confirmPassword"
                   
                   placeholder="{{'common.confirmPassword'|translate}}" />
          </div>

          <div style="color:red" *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
            <p *ngIf="confirmPassword.errors.required">{{'common.confirmPassword'|translate}}{{'common.isRequired'|translate}}</p>
          </div>

          <div style="color:red" *ngIf="passwordGroup.errors && (password.dirty || password.touched) && (confirmPassword.dirty || confirmPassword.touched)">
            <p *ngIf="passwordGroup.errors.mismatch">{{'common.confirmPassword'|translate}}{{'common.mismatchWith'|translate}}{{'common.newPassword'|translate}}</p>
          </div>
        </fieldset>
        

        

        <!--<pre>{{myform.value | json}}</pre>-->

      </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="close()">{{'common.cancel'|translate}}</button>
      <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!myform.valid">{{'common.save'|translate}}</button>
    </div>
  </div>
  </div>
</div>
