<div class="app flex-row table">
  <div class="table-cell">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-2">
              <form #potraitForm="ngForm" action="javascript:void(0);" (ngSubmit)="potraitForm.valid && onFormSubmit(potraitForm);">
                <div class="card-block">
                  <h1>Invitation Information</h1>
                  <p class="text-muted">Modify your Invitation Information</p>

                  <div class="input-group mb-1" [ngClass]="{ 'has-danger': mobileNo.invalid && (mobileNo.dirty || mobileNo.touched), 'has-success': mobileNo.valid && (mobileNo.dirty || mobileNo.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="mobileNo" name="mobileNo" #mobileNo="ngModel" (keyup)="mobileNoSearch($event)"
                      [ngClass]="{ 'form-control-danger': mobileNo.invalid && (mobileNo.dirty ||mobileNo.touched), 'form-control-success': mobileNo.valid && (mobileNo.dirty || mobileNo.touched)}"
                      placeholder="Visitor Mobile No." [(ngModel)]="model.visitor.mobileNo">
                  </div>
                  <div style="color:red" *ngIf="mobileNo.errors && (mobileNo.dirty || mobileNo.touched || mobileNo.submitted)">
                    <p *ngIf="mobileNo.errors.required">
                      The Visitor Mobile No. is required
                    </p>
                  </div>

                  <div class="input-group mb-1" [ngClass]="{ 'has-danger': visitorName.invalid && (visitorName.dirty || visitorName.touched), 'has-success': visitorName.valid && (visitorName.dirty || visitorName.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-emotsmile"></i>
                    </span>
                    <input type="text" class="form-control" required id="visitorName" name="visitorName" #visitorName="ngModel" [ngClass]="{ 'form-control-danger': visitorName.invalid && (visitorName.dirty ||visitorName.touched), 'form-control-success': visitorName.valid && (visitorName.dirty || visitorName.touched)}"
                      placeholder="Visitor Name" [(ngModel)]="model.visitor.visitorName">
                  </div>
                  <div style="color:red" *ngIf="visitorName.errors && (visitorName.dirty || visitorName.touched || visitorName.submitted)">
                    <p *ngIf="visitorName.errors.required">
                      The Visitor Name is required
                    </p>
                  </div>

                  <div class="input-group mb-1" [ngClass]="{ 'has-danger': emailAddress.invalid && (emailAddress.dirty || emailAddress.touched), 'has-success': emailAddress.valid && (emailAddress.dirty || emailAddress.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-emotsmile"></i>
                    </span>
                    <input type="text" class="form-control" required id="emailAddress" name="emailAddress" #emailAddress="ngModel" [ngClass]="{ 'form-control-danger': emailAddress.invalid && (emailAddress.dirty ||emailAddress.touched), 'form-control-success': emailAddress.valid && (emailAddress.dirty || emailAddress.touched)}"
                      placeholder="Visitor's Email Address" [(ngModel)]="model.visitor.emailAddress">
                  </div>
                  <div style="color:red" *ngIf="emailAddress.errors && (emailAddress.dirty || emailAddress.touched || emailAddress.submitted)">
                    <p *ngIf="emailAddress.errors.required">
                      The Visitor's Email Address is required
                    </p>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-addon">
                      <i class="icon-emotsmile"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Validtity of Invite begin date" (onfocusout)="showStartDatePicker = false"
                      (focus)="showStartDatePicker = !showStartDatePicker" name="beginDatetime" value="{{model.visitor.beginDatetime | date:'yyyy/MM/dd'}}"
                    />
                    <span class="input-group-addon" dropdownToggle (click)="showStartDatePicker = !showStartDatePicker">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <div *ngIf="showStartDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                      <datepicker name="beginDatetime" [showWeeks]="false" [(ngModel)]="model.visitor.beginDatetime" (selectionDone)="showStartDatePicker = false"></datepicker>
                    </div>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-addon">
                      <i class="icon-emotsmile"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Validtity of Invite end date" (focus)="showEndDatePicker = !showEndDatePicker"
                      name="inputEndDate" value="{{model.visitor.endDatetime | date:'yyyy/MM/dd'}}" />
                    <span class="input-group-addon" dropdownToggle (click)="showEndDatePicker = !showEndDatePicker">
                      <i class="fa fa-calendar"></i>
                    </span>
                    <div *ngIf="showEndDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                      <datepicker name="endDate" [showWeeks]="false" [(ngModel)]="model.visitor.endDatetime" (selectionDone)="showEndDatePicker = false"></datepicker>
                    </div>
                  </div>

                  <div class="input-group mb-1">
                    <span class="input-group-addon">
                      <i class="icon-emotsmile"></i>
                    </span>
                    <!-- <span *ngFor="let location of videoLocation"></span>
                        <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;margin-left: 8px;" for="{{location}}">
                          <input type="checkbox" id="{{location}}" name="{{location}}" (change)="checkboxLocations(location, $event);">&nbsp; {{location.video_source_location}}
                        </label>
                      </span> -->

                    <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;margin-left: 8px;" for="Visit">
                      <input type="radio" id="Visit" name="purposeOfVisit" (change)="checkboxPurpose('Visit', $event);">&nbsp; Visit
                    </label>

                    <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;margin-left: 8px;" for="Meeting">
                      <input type="radio" id="Meeting" name="purposeOfVisit" (change)="checkboxPurpose('Meeting', $event);">&nbsp; Meeting
                    </label>

                    <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;margin-left: 8px;" for="Delivery">
                      <input type="radio" id="Delivery" name="purposeOfVisit" (change)="checkboxPurpose('Delivery', $event);">&nbsp; Delivery
                    </label>

                    <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;margin-left: 8px;" for="Others">
                      <input type="radio" id="Others" name="purposeOfVisit" (change)="checkboxPurpose('Others', $event);">&nbsp; Others
                    </label>
                  </div>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                  <button type="submit" class="btn btn-primary" [disabled]="!visitorForm.valid">Apply</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
