<div class="app flex-row table">
  <div class="table-cell">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-2">
              <form #potraitForm="ngForm" action="javascript:void(0);" (ngSubmit)="potraitForm.valid && onFormSubmit(potraitForm);">
                <div class="card-block">
                  <h1>Upload your potrait</h1>
                  <p class="text-muted">size must bigger then 300 x 300</p>
                  <div class="input-group mb-1">
                    <span class="input-group-addon">
                      <i class="icon-emotsmile"></i>
                    </span>
                    <input type="file" class="form-control-file" data-show-preview="false" accept="image/*" id="imageInput" name="imageInput"
                      #imageInput="ngModel" (change)="imageListener($event)" placeholder="Your Potrait" [(ngModel)]="model.filename">
                  </div>

                  <div class="col-12 text-center">
                    <img class="blankPotrait" *ngIf="model.potrait" src="data:image/jpeg;base64,{{model.potrait}}">
                    <img class="blankPotrait default" *ngIf="!model.potrait">
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-2" [disabled]="!potraitForm.valid">Upload</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
