<div class="app flex-row table">
  <div class="table-cell">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card-group mb-0">
            <div class="card">
              <table border="0" cellpadding="0" cellspacing="0" class="dialog-completed">
                <tr><td align="center" class="table-cell">
                    <div class="completed"></div>
                    {{'pageRegistration.completed' | translate}}
                </td></tr>
                <tr><td align="center" class="completeddesc">{{'pageRegistration.completedDesc'| translate}}</td></tr>
                <tr><td align="center" class="completednode" style="background-color: #49aea9;color:white" >{{'pageRegistration.completedNode'| translate}}</td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
