
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">

      <form novalidate
            [formGroup]="myform">

        <div class="input-group mb-1"
             [ngClass]="{
       'has-danger': username.invalid && (username.dirty || username.touched),
       'has-success': username.valid && (username.dirty || username.touched)}">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text"
                 class="form-control"
                 [readonly]="editMode"
                 required
                 formControlName="username"
                 placeholder="Username" />
        </div>
        <div style="color:red" *ngIf="username.errors && (username.dirty || username.touched )">
          <p *ngIf="username.errors.required">{{'common.required'|translate}}</p>
          <p *ngIf="username.errors.minlength">Username must be 3 at least characters long</p>
        </div>

        <fieldset formGroupName="data">
          <div class="input-group mb-1"
               [ngClass]="{
       'has-danger': kioskId.invalid && (kioskId.dirty || kioskId.touched),
       'has-success': kioskId.valid && (kioskId.dirty || kioskId.touched)}">
            <span class="input-group-addon">
              <i class="fa fa-key"></i>
            </span>
            <input type="text"
                   class="form-control"
                   required
                   formControlName="kioskId"
                   placeholder="Kiosk Id" />
          </div>
          <div style="color:red" *ngIf="kioskId.errors && (kioskId.dirty || kioskId.touched )">
            <p *ngIf="kioskId.errors.required">{{'common.required'|translate}}</p>
            <p *ngIf="kioskId.errors.minlength">Kiosk Id must be at least 3 characters long </p>
          </div>

          <div class="input-group mb-1"
               [ngClass]="{
       'has-danger': kioskName.invalid && (kioskName.dirty || kioskName.touched),
       'has-success': kioskName.valid && (kioskName.dirty || kioskName.touched)}">
            <span class="input-group-addon">
              <i class="fa fa-key"></i>
            </span>
            <input type="text"
                   class="form-control"
                   required
                   formControlName="kioskName"
                   placeholder="Kiosk Name" />
          </div>

          <div style="color:red" *ngIf="kioskName.errors && (kioskName.dirty || kioskName.touched)">
            <p *ngIf="kioskName.errors.required">{{'common.required'|translate}}</p>
            <p *ngIf="kioskName.errors.minlength">Kiosk Name must be at least 3 characters long</p>
          </div>

        </fieldset>
        <div class="modal-footer" *ngIf="editMode">
          <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!data.valid && (data.dirty || data.touched)">Update Data</button>
        </div>
        <fieldset formGroupName="passwordGroup">
          <div class="input-group mb-1"
               [ngClass]="{
       'has-danger': password.invalid && (password.dirty || password.touched),
       'has-success': password.valid && (password.dirty || password.touched)}">
            <span class="input-group-addon">
              <i class="fa fa-key"></i>
            </span>
            <input type="password"
                   class="form-control"
                   required
                   formControlName="password"
                   placeholder="password" />
          </div>
          <div style="color:red" *ngIf="password.errors && (password.dirty || password.touched )">
            <p *ngIf="password.errors.required">{{'common.required'|translate}}</p>
            <p *ngIf="password.errors.minlength">Password must be 6 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
          </div>
          <div class="input-group mb-1"
               [ngClass]="{
       'has-danger': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),
       'has-success': confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)}">
            <span class="input-group-addon">
              <i class="fa fa-key"></i>
            </span>
            <input type="password"
                   class="form-control"
                   required
                   formControlName="confirmPassword"
                   placeholder="Confirm Password" />
          </div>

          <div style="color:red" *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
            <p *ngIf="confirmPassword.errors.required">{{'common.required'|translate}}</p>
            <p *ngIf="confirmPassword.errors?.mismatch">Confirm Password is not the same with password</p>
          </div>

          <div style="color:red" *ngIf="passwordGroup.errors && (password.dirty || password.touched) && (confirmPassword.dirty || confirmPassword.touched)">
            <p *ngIf="passwordGroup.errors.mismatch">Confirm Password is not the same with password</p>
          </div>
        </fieldset>


        <!--<pre>{{myform.value | json}}</pre>-->

      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">{{'common.cancel'|translate}}</button>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!myform.valid">{{'common.save'|translate}}</button>
      </div>
    </div>
  </div>
</div>
