<div class="animated fadeIn">
    <form #serverForm="ngForm" action="javascript:void(0);" (ngSubmit)="serverForm.valid && onFormSubmit(serverForm); largeModal.hide();">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>Network Setting
            </div>

            <div class="card-block row">
                <div class="input-group mb-1" [ngClass]="{ 'has-danger': ipaddress.invalid && (ipaddress.dirty || ipaddress.touched), 'has-success': ipaddress.valid && (ipaddress.dirty || ipaddress.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="ipaddress" name="ipaddress" #ipaddress="ngModel" 
                        [ngClass]="{ 'form-control-danger': ipaddress.invalid && (ipaddress.dirty ||ipaddress.touched), 'form-control-success': ipaddress.valid && (ipaddress.dirty || ipaddress.touched)}"
                        placeholder="IP Address" [(ngModel)]="model.ipaddress">
                </div>
                <div style="color:red" *ngIf="ipaddress.errors && (ipaddress.dirty || ipaddress.touched || serverForm.submitted)">
                    <p *ngIf="ipaddress.errors.required">
                        The IP Address is required
                    </p>
                </div>

                <div class="input-group mb-1" [ngClass]="{ 'has-danger': port.invalid && (port.dirty || port.touched), 'has-success': port.valid && (port.dirty || port.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="port" name="port" #port="ngModel" [ngClass]="{ 'form-control-danger': port.invalid && (port.dirty ||port.touched), 'form-control-success': port.valid && (port.dirty || port.touched)}"
                        placeholder="Port" [(ngModel)]="model.port">
                </div>
                <div style="color:red" *ngIf="port.errors && (port.dirty || port.touched || serverForm.submitted)">
                    <p *ngIf="port.errors.required">
                        The Port is required
                    </p>
                </div>
            </div>
        </div>

        <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!serverForm.valid">Save</button>
        </div>
    </form>
</div>