<ng-progress></ng-progress>
        
<div class="animated fadeIn">
    <div class="card col-md-4">
        <div class="card-block">
<form novalidate
      [formGroup]="myform">

  <div class="input-group mb-1" title="{{'pageSms.comPort'|translate}}" [ngClass]="{
       'has-danger': comPort.invalid && (comPort.dirty || comPort.touched),
       'has-success': comPort.valid && (comPort.dirty || comPort.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-envelope"></i>
    </span>
    <input type="text"
           class="form-control"   
           formControlName="comPort"          
           placeholder="{{'pageSms.comPort'|translate}}" />
  </div>
  <div style="color:red" *ngIf="comPort.errors && (comPort.dirty || comPort.touched )">
    <p *ngIf="comPort.errors.required">{{'pageSms.comPort'|translate}}{{'common.isRequired'|translate}}</p>
    <p *ngIf="comPort.errors.pattern">{{'pageSms.comPort'|translate}}{{'common.isInvalid'|translate}}</p>
  </div>

  <div class="input-group mb-1" title="{{'common.enabled'|translate}}"
       [ngClass]="{
       'has-danger': enable.invalid && (enable.dirty || enable.touched),
       'has-success': enable.valid && (enable.dirty || enable.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-user"></i>
    </span> 
    <div class="checkbox">
        <input type="checkbox" formControlName="enable" id="enable" />
        <label for="enable"></label>      
      </div>
      <label for="enable">{{'common.enabled'|translate}}</label>
  </div>
  <div style="color:red" *ngIf="enable.errors && (enable.dirty || enable.touched )">
    <p *ngIf="enable.errors.required">{{'common.enabled'|translate}}{{'common.isRequired'|translate}}</p>
  </div>

  <div class="input-group mb-1" title="{{'pageSms.testSms'|translate}}"
  [ngClass]="{
  'has-danger': testSms.invalid && (testSms.dirty || testSms.touched),
  'has-success': testSms.valid && (testSms.dirty || testSms.touched)}">
<span class="input-group-addon">
 <i class="fa fa-envelope"></i>
</span>
<input type="text"
class="form-control"
formControlName="testSms"
placeholder="{{'pageSms.sendTestSmsPlaceholder'|translate}}" />
<button type="button" class="btn btn-primary" (click)="sendTestSms()" [disabled]="!testSms.valid || isLoading() || testSms.value==''">{{'common.send'|translate}}</button>
</div>
<div style="color:red" *ngIf="testSms.errors && (testSms.dirty || testSms.touched )">
<p *ngIf="testSms.errors.pattern">{{'pageSms.testSms'|translate}}{{'common.isInvalid'|translate}}</p>    
</div>
  <!--<pre>{{myform.value | json}}</pre>-->
</form>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!myform.valid || isLoading()">{{'common.save'|translate}}</button>
</div>
</div>
</div>
</div>
