<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="newCommand(); largeModal.show()">
          New Http Command
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Http Commands
        </div>
        <div class="card-block">

          <!--<div class="row mb-1">
            <div class="col-md-4 offset-md-8">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name" />
              </div>
            </div>
          </div>-->
          <table datatable class="table table-striped table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th style="width: 5%">No</th>
                <th style="width: 10%">
                  <mfDefaultSorter by="device_type">Method</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="device_token">Authtication</mfDefaultSorter>
                </th>
                <th style="width: 10%">
                  <mfDefaultSorter by="device_token">Account</mfDefaultSorter>
                </th>
                <th style="width: 60%">
                  <mfDefaultSorter by="device_name">Command</mfDefaultSorter>
                </th>
                <th style="width: 5%"></th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of mf.data; let i = index" (click)="modifyCommand(item, $event); largeModal.show()"> -->
              <tr *ngFor="let item of mf.data; let i = index; async">
                <td>{{i + 1}}</td>
                <td>{{item.push_device_type}}</td>
                <td>{{item.push_device_name}}</td>
                <td>{{item.push_device_name}}</td>
                <td>{{item.push_device_token}}</td>
                <td>
                  <a class="fa fa-remove fa-lg" (click)="$event.stopPropagation();deleteCommand(item, $event)"></a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">

      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title">{{model.title}}</h4>
            <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card mx-2">
              <div class="card-block p-2">
                <div class="input-group mb-1">
                  <span class="input-group-addon">
                    <i class="icon-settings"></i>
                  </span>
                  <label class="radio-inline" for="method">
                    <input type="radio" id="inline-radio1" name="inline-method" value="Get"> Get
                  </label>
                  <label class="radio-inline" for="method">
                    <input type="radio" id="inline-radio2" name="inline-method" value="Post"> Post
                  </label>
                  <label class="radio-inline" for="method">
                    <input type="radio" id="inline-radio2" name="inline-method" value="Put"> Put
                  </label>
                </div>

                <div class="input-group mb-1">
                  <span class="input-group-addon">
                    <i class="icon-lock "></i>
                  </span>
                  <label class="radio-inline" for="authtication">
                    <input type="radio" id="inline-radio1" name="inline-authtication" value="None"> None
                  </label>
                  <label class="radio-inline" for="authtication">
                    <input type="radio" id="inline-radio2" name="inline-authtication" value="Basic"> Basic
                  </label>
                  <label class="radio-inline" for="authtication">
                    <input type="radio" id="inline-radio3" name="inline-authtication" value="Digest"> Digest
                  </label>
                  <label class="radio-inline" for="authtication">
                    <input type="radio" id="inline-radio3" name="inline-authtication" value="Client-Cert"> Client-Cert
                  </label>
                  <label class="radio-inline" for="authtication">
                    <input type="radio" id="inline-radio3" name="inline-authtication" value="Form-Based"> Form Based
                  </label>
                </div>

                <div class="input-group mb-1">
                  <span class="input-group-addon">
                    <i class="icon-user"></i>
                  </span>
                  <input type="text" class="form-control" placeholder="Account" [(ngModel)]="model.push_device_name">
                </div>

                <div class="input-group mb-1">
                  <span class="input-group-addon">
                    <i class="icon-key"></i>
                  </span>
                  <input type="password" class="form-control" placeholder="Password" [(ngModel)]="model.push_device_token">
                </div>

                <div class="input-group mb-1">
                  <span class="input-group-addon">
                    <i class="icon-target"></i>
                  </span>
                  <input type="text" class="form-control" placeholder="http://" [(ngModel)]="model.push_device_token">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveCommand(); largeModal.hide()">{{model.buttom}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>