
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">

      <form novalidate
            [formGroup]="myform">
                    <div class="input-group mb-1" title="{{'common.mobileNo'|translate}}" [ngClass]="{ 'has-danger': phone.invalid && (phone.dirty || phone.touched), 'has-success': phone.valid && (phone.dirty || phone.touched)}">
                      <span class="input-group-addon">
                        <i class="icon-user"></i>
                      </span>
                      <input type="text" class="form-control" formControlName="phone" 
                        (keyup)="mobileNoSearch($event)" [ngClass]="{ 'form-control-danger': phone.invalid && (phone.dirty ||phone.touched), 'form-control-success': phone.valid && (phone.dirty || phone.touched)}"
                        placeholder="{{'common.mobileNo'|translate}}" >
                    </div>
                    <div style="color:red" *ngIf="phone.errors && (phone.dirty || phone.touched || phone.submitted)">
                      <p *ngIf="phone.errors.required">
                          {{'common.mobileNo'|translate}}{{'common.isRequired'|translate}}
                      </p>
                    </div>

                    <div class="input-group mb-1" title="{{'common.name'|translate}}" [ngClass]="{ 'has-danger': name.invalid && (name.dirty || name.touched), 'has-success': name.valid && (name.dirty || name.touched)}">
                      <span class="input-group-addon">
                        <i class="icon-emotsmile"></i>
                      </span>
                      <input type="text" class="form-control" formControlName="name" 
                        [ngClass]="{ 'form-control-danger': name.invalid && (name.dirty ||name.touched), 'form-control-success': name.valid && (name.dirty || name.touched)}"
                        placeholder="{{'common.name'|translate}}">
                    </div>
                    <div style="color:red" *ngIf="name.errors && (name.dirty || name.touched || name.submitted)">
                      <p *ngIf="name.errors.required">
                          {{'common.name'|translate}} {{'common.isRequired'|translate}}
                      </p>
                    </div>

                    <div class="input-group mb-1" title="{{'common.email'|translate}}" [ngClass]="{ 'has-danger': email.invalid && (email.dirty || email.touched), 'has-success': email.valid && (email.dirty || email.touched)}">
                      <span class="input-group-addon">
                        <i class="icon-emotsmile"></i>
                      </span>
                      <input type="text" class="form-control" formControlName="email"
                        [ngClass]="{ 'form-control-danger': email.invalid && (email.dirty ||email.touched), 'form-control-success': email.valid && (email.dirty || email.touched)}"
                        placeholder="{{'common.email'|translate}}" >
                    </div>
                    <div style="color:red" *ngIf="email.errors && (email.dirty || email.touched || email.submitted)">
                      <p *ngIf="email.errors.required">
                          {{'common.email'|translate}} {{'common.isRequired'|translate}}
                      </p>
                    </div>

                    <div class="input-group mb-1" title="{{'common.start'|translate}}">
                      <span class="input-group-addon">
                        <i class="icon-emotsmile"></i>
                      </span>
                      <input type="text" class="form-control" placeholder="{{'common.start'|translate}}" (focus)="showStartDatePicker = !showStartDatePicker"
                        formControlName="inputStartDate" value="{{model.visitor.beginDate | date:'yyyy/MM/dd'}}" />
                      <span class="input-group-addon" dropdownToggle (click)="showStartDatePicker = !showStartDatePicker">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <div *ngIf="showStartDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                        <datepicker formControlName="beginDatetime" [showWeeks]="false" 
                          (selectionDone)="showStartDatePicker = false"></datepicker>
                      </div>
                    </div>

                    <div class="input-group mb-1" title="{{'common.end'|translate}}">
                      <span class="input-group-addon">
                        <i class="icon-emotsmile"></i>
                      </span>
                      <input type="text" class="form-control" placeholder="{{'common.end'|translate}}" 
                        (focus)="showEndDatePicker = !showEndDatePicker"
                        formControlName="inputEndDate" value="{{model.visitor.endDate | date:'yyyy/MM/dd'}}" />
                      <span class="input-group-addon" dropdownToggle (click)="showEndDatePicker = !showEndDatePicker">
                        <i class="fa fa-calendar"></i>
                      </span>
                      <div *ngIf="showEndDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                        <datepicker formControlName="endDate" [showWeeks]="false" 
                          (selectionDone)="showEndDatePicker = false"></datepicker>
                      </div>
                    </div>

                    <div class="input-group mb-1" title="{{'pageInvitation.purpose'|translate}}">
                      <span class="input-group-addon">
                        <i class="icon-emotsmile"></i>
                      </span>
                      <span *ngFor="let item of purposes">
                        <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;margin-left: 8px;" for="{{item.name}}">
                          <input type="radio" id="{{item.objectId }}" formControlName="InvitorPurposes" 
                          [checked]="model.visitor.purpose ? item.objectId == model.visitor.purpose.objectId : false" 
                          (change)="checkboxPurposes(item, $event);">&nbsp; {{item.name }}
                        </label>
                      </span>
                    </div>

                    <div class="input-group mb-1" title="{{'pageInvtitation.sendBy'|translate}}">
                      <span class="input-group-addon">
                        <i class="icon-emotsmile"></i>
                      </span>

                      <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;margin-left: 8px;" for="email">
                        <input type="checkbox" id="email" formControlName="sendInvitationByEmail" 
                        (change)="checkboxSendBy('email', $event);">&nbsp;
                        {{'common.email'|translate}} 
                      </label>

                      <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;margin-left: 8px;" for="sms">
                        <input type="checkbox" id="sms" formControlName="sendInvitationBySMS" (change)="checkboxSendBy('sms', $event);">&nbsp;
                        {{'common.sms'|translate}} 
                      </label>
                    </div>
                  
      </form>
      <pre>{{myform.value | json}}</pre>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">{{'common.cancel'|translate}}</button>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!myform.valid">{{'common.save'|translate}}</button>
      </div>
    </div>
  </div>
</div>
