<ng-progress></ng-progress>
<div class="animated fadeIn">
    <div class="row mb-1">
        <div class="card border-none col-md-4">          
            <div class="input-group">            
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="{{'common.search'|translate}}" (keyup)="searchKeyUp($event)" />
            <span class="input-group-addon" (click)="doSearch()">
                <i class="fa fa-search"></i>
              </span>
          </div>
        </div>
      </div>
  <div class="row" >
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>{{'common.searchCondition'|translate}}
        </div>
        <div class="card-block">
          <div class="form-group row">
            <label class="col-md-2 form-control-label">{{'common.mobileNo'|translate}} </label>
            <div class="col-md-10">
              <div class="input-group">
                <input type="text" class="form-control"                 
                placeholder="{{'common.mobileNo'|translate}}">
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 form-control-label"> {{'common.name'|translate}} </label>
            <div class="col-md-10">
              <div class="input-group">
                <input type="text" class="form-control" 
                  placeholder="{{'common.name'|translate}}" >
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 form-control-label">{{'pageInvitation.invitationValidityPeriod'|translate}}</label>
            <div class="col-md-5">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="{{'common.start'|translate}}" (onfocusout)="showStartDatePicker = false"
                  (focus)="showStartDatePicker = !showStartDatePicker"  />
                <span class="input-group-addon" dropdownToggle (click)="showStartDatePicker = !showStartDatePicker">
                  <i class="fa fa-calendar"></i>
                </span>
                <div *ngIf="showStartDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                  <datepicker [showWeeks]="false" 
                    (selectionDone)="showStartDatePicker = false"></datepicker>
                </div>

                <input type="text" class="form-control" placeholder="{{'common.end'|translate}}" (focus)="showEndDatePicker = !showEndDatePicker"
                   />
                <span class="input-group-addon" dropdownToggle (click)="showEndDatePicker = !showEndDatePicker">
                  <i class="fa fa-calendar"></i>
                </span>
                <div *ngIf="showEndDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                  <datepicker [showWeeks]="false"
                    (selectionDone)="showEndDatePicker = false"></datepicker>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 form-control-label"> {{'pageInvitation.invitationStatus'|translate}} </label>
            <div class="col-md-7">
              <div class="input-group">
                <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;margin-left: 8px;" for="Pending">
                  <input type="checkbox" id="Pending" name="purposeOfVisit" (change)="checkboxInvitationStatus('Pending', $event);">&nbsp;
                  {{'pageInvitation.Pending'|translate}}
                </label>

                <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;margin-left: 8px;" for="Complete">
                  <input type="checkbox" id="Complete" name="purposeOfVisit" (change)="checkboxInvitationStatus('Complete', $event);">&nbsp;
                  {{'pageInvitation.Completed'|translate}}
                </label>

                <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;margin-left: 8px;" for="Expired">
                  <input type="checkbox" id="Expired" name="purposeOfVisit" (change)="checkboxInvitationStatus('Expired', $event);">&nbsp;
                  {{'pageInvitation.Expired'|translate}}
                </label>

                <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;margin-left: 8px;" for="Canceled">
                  <input type="checkbox" id="Canceled" name="purposeOfVisit" (change)="checkboxInvitationStatus('Canceled', $event);">&nbsp;
                  {{'pageInvitation.canceled'|translate}}
                </label>
              </div>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-primary px-2 pull-right" (click)="invitationsSearch()">{{'common.search'|translate}}</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i>{{'pageInvitation.invitation'|translate}} {{'common.list'|translate}}
      </div>
      <div class="card-block">
        
        <div class="row">
            <div class="col-md-2 offset-md-10">   
              <div class="card">
                <button type="button" class="btn btn-primary" data-toggle="modal" (click)="createNew();">
                    {{'common.new'|translate}}
                </button>
              </div>
            </div>
          </div>
        <table datatable class="table table-striped table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10" >
          <thead>
            <tr>
              <th style="width: 5%"> {{'common.no'|translate}}</th>
              <th style="width: 10%"> {{'common.mobileNo'|translate}}</th>
              <th style="width: 15%">{{'common.name'|translate}}</th>
              <th style="width: 20%">{{'common.email'|translate}}</th>
              <th style="width: 10%">{{'common.status'|translate}}</th>
              <th style="width: 10%">{{'common.start'|translate}}</th>
              <th style="width: 10%">{{'common.end'|translate}}</th>
              <th style="width: 15%">{{'pageInvitation.purpose'|translate}}</th> 
              <th style="width: 5%"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mf.data; let i = index">
              <td>{{(i+(mf.activePage -1)*mf.rowsOnPage)+1}}</td>

              <td>{{item.visitor.phone}}</td>
              <td>{{item.visitor.name}}</td>
              <td>{{item.visitor.email}}</td>
              <td>{{(item.cancelled ? "pageInvitation.canceled" : "pageInvitation."+(item.visitor.status || "")) | translate}}</td>
              <td>{{item.dates[0].start | date : "yyyy-MM-dd" }}</td>
              <td>{{item.dates[item.dates.length-1].end | date : "yyyy-MM-dd" }}</td>
               <td>{{'pageInvitation.'+item.purpose.name | translate}}</td> 
              <td>
                <a *ngIf="!item.cancelled && item.visitor && item.visitor.status!='Completed'" class="fa fa-remove fa-lg" style="cursor: pointer;" (click)="$event.stopPropagation();deleteInvitation(item)"></a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="9">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

