<!-- Progress bar -->
<ng-progress>
</ng-progress>

<div class="animated fadeIn">
  <div class="row" >
    <div class="col-12">
      <div class="card">
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="createNew(); " [disabled]="isLoading()">
          {{'common.new' | translate}}
        </button>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>{{'pageAccount.users' | translate}}
        </div>
        <div class="card-block">
          <div class="row mb-1">
            <div class="col-md-4 offset-md-8">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="{{'common.search' | translate}}" (keyup)="itemSearch($event)" />
                <span class="input-group-addon" (click)="doSearch()">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
          </div>          
          <table datatable class="table table-striped table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th style="width: 5%">{{'common.no' | translate}}</th>
                <th style="width: 25%">
                  <mfDefaultSorter by="updatedAt">{{'common.userName' | translate}}</mfDefaultSorter>
                </th>
                <th style="width: 25%">
                  {{'pageAccount.roles' | translate}}
                </th>
                <th style="width: 10%">
                  {{'pageAccount.companyName' | translate}}
                </th>
                <th style="width: 10%">
                  {{'pageAccount.floorName' | translate}}
                </th>
                <th style="width: 15%">
                  {{'common.email' | translate}}
                </th>

                <th ></th>
                <th ></th>
              </tr>
            </thead>
            <tbody>
              
              <tr *ngFor="let item of mf.data; let i = index">
                <td>{{(i+(mf.activePage -1)*mf.rowsOnPage)+1}}</td>

                <td>{{item.username}}</td>
                <td>
                  <ul>
                    <li *ngFor="let role of item.roles">{{('roleEnum.'+role.name) | translate}}</li>
                  </ul>
                </td>
                <td>
                    {{item.data && item.data.company && item.data.company.name ? item.data.company.name : ""}}
                </td>
                <td>
                    <ul *ngIf="item.data && item.data.floor">
                        <li *ngFor="let floor of item.data.floor">{{floor.name}}</li>
                    </ul>
                </td>
                <td>
                  {{item.email ? item.email : ""}}
                </td>
                <td>
                  <a class="fa fa-pencil fa-lg" (click)="$event.stopPropagation();edit(item);"></a>
                </td>
                <td>
                  <a *ngIf="item.objectId !== currentUser.objectId" class="fa fa-remove fa-lg" (click)="$event.stopPropagation();delete(item)"></a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



