
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">

      <form novalidate
            [formGroup]="myform">

        <div class="input-group mb-1" title="{{'common.userName'|translate}}"
             [ngClass]="{
       'has-danger': username.invalid && (username.dirty || username.touched),
       'has-success': username.valid && (username.dirty || username.touched)}">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text"
                 class="form-control"
                 [readonly]="editMode"                 
                 formControlName="username"                 
                 placeholder="{{'common.userName'|translate}}" />
        </div>
        <div style="color:red" *ngIf="username.errors && (username.dirty || username.touched )">
          <p *ngIf="username.errors.required">{{'common.userName'|translate}}{{'common.isRequired'|translate}}</p>
          <p *ngIf="username.errors.minlength">{{'common.userName'|translate}}{{'common.minLength'|translate:username.errors}}</p>
        </div>


        
        <div class="input-group mb-1" title="{{'pageAccount.roles'|translate}}"
        [ngClass]="{
  'has-danger': roles.invalid && (roles.dirty || roles.touched ),
  'has-success': roles.valid}">
     <span class="input-group-addon">
       <i class="fa fa-group"></i>
     </span>
     <div class="input-group dropdown" dropdown placement="bottom right" *ngIf="!editMode" >        
     <input type="text"
            class="form-control"                 
            formControlName="roles"
            (keydown)="$event.preventDefault()"
            placeholder="{{'pageAccount.roles'|translate}}"
            *ngIf="formData.roles.length==0"
             />  
             <div class="form-control selected-dropdown" *ngIf="formData.roles.length>0">
               <div class="selected-dropdown-item" 
                    *ngFor="let item of formData.roles" 
                    (click)="remove(item, formData.roles, roleOptions, roles)">{{('roleEnum.'+item.name) | translate}}
                 <span class="fa fa-remove fa-lg" ></span>
               </div>                            
             </div>
         <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown" style="overflow-y:auto; height:200px;">
           <a class="dropdown-item" style="cursor: pointer;" *ngFor="let item of roleOptions" (click)="add(item, formData.roles, roleOptions, roles)">
             {{('roleEnum.'+item.name) | translate}}
           </a>
         </div>              
         <span role="button" style="width:40px" class="input-group-addon dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
           dropdownToggle>
           <span class="caret"></span>
         </span>
       </div> 
       <div class="input-group dropdown" dropdown placement="bottom right" *ngIf="editMode" >   
           <input type="text"
           class="form-control"                 
           formControlName="roles"
           placeholder="{{'pageAccount.roles'|translate}}"
           
           *ngIf="formData.roles.length==0"
            />  
            <div class="form-control selected-dropdown" *ngIf="formData.roles.length>0">                    
              <div  class="selected-dropdown-item" *ngFor="let item of formData.roles">{{('roleEnum.'+item.name) | translate}} </div>         
            </div>
         </div> 
   </div> 
   <div style="color:red" *ngIf="roles.errors && (roles.dirty || roles.touched)">
    <p *ngIf="roles.errors.required">{{'pageAccount.roles'|translate}}{{'common.isRequired'|translate}}</p>
  </div>

        <fieldset formGroupName="data">
          <div class="input-group mb-1" title="{{'pageAccount.companyName'|translate}}" [ngClass]="{
       'has-danger': company.invalid && (company.dirty || company.touched),
       'has-success': company.valid && (company.dirty || company.touched)}">
            <span class="input-group-addon">
              <i class="fa fa-envelope"></i>
            </span>
            <select 
              (change)="onCompanyChange($event.target.value)"
              class="form-control"                 
              formControlName="company">  
              <option *ngFor="let item of companyOptions" value="{{item.objectId}}" >{{item.name}}</option>
              </select>
          </div>
          <div style="color:red" *ngIf="company.errors && (company.dirty || company.touched )">
            <p *ngIf="company.errors.required">{{'pageAccount.companyName'|translate}}{{'common.isRequired'|translate}}</p>            
          </div>
          <div class="input-group mb-1" title="{{'pageAccount.floorName'|translate}}" [ngClass]="{
            'has-danger': floor.invalid && (floor.dirty || floor.touched),
            'has-success': floor.valid && (floor.dirty || floor.touched)}">
                 <span class="input-group-addon">
                   <i class="fa fa-envelope"></i>
                 </span>
                 <div class="input-group dropdown" dropdown placement="bottom right">        
                    <input type="text"
                           class="form-control"                 
                           formControlName="floor"
                           (keydown)="$event.preventDefault()"
                           placeholder="{{'pageAccount.floorName'|translate}}"
                           *ngIf="formData.data.floor.length==0"
                            />  
                            <div class="form-control selected-dropdown" *ngIf="formData.data.floor.length>0">
                            <div class="selected-dropdown-item" *ngFor="let item of formData.data.floor" (click)="remove(item, formData.data.floor, floorOptions, floor, true)">{{item.name}}
                                <span class="fa fa-remove fa-lg" ></span>
                              </div>               
                            </div>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown" style="overflow-y:auto; height:200px;">
                          <a class="dropdown-item" style="cursor: pointer;" *ngFor="let item of floorOptions" (click)="add(item, formData.data.floor, floorOptions, floor, true)">
                            {{item.name}}
                          </a>
                        </div>
                        <span role="button" style="width:40px" class="input-group-addon dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                          dropdownToggle>
                          <span class="caret"></span>
                        </span>
                      </div> 
               </div>
               <div style="color:red" *ngIf="floor.errors && (floor.dirty || floor.touched )">
                 <p *ngIf="floor.errors.required">{{'pageAccount.floorName'|translate}}{{'common.isRequired'|translate}}</p>                 
               </div>

        </fieldset>
        
        <div class="input-group mb-1" title="{{'common.phone'|translate}}" [ngClass]="{
          'has-danger': phone.invalid && (phone.dirty || phone.touched),
          'has-success': phone.valid && (phone.dirty || phone.touched)}">
               <span class="input-group-addon">
                 <i class="fa fa-envelope"></i>
               </span>
               <input type="text"
                      class="form-control"
                      formControlName="phone"                      
                      placeholder="{{'common.phone'|translate}}" />
             </div>
             <div style="color:red" *ngIf="phone.errors && (phone.dirty || phone.touched )">
               <p *ngIf="phone.errors.required">{{'common.phone'|translate}}{{'common.isRequired'|translate}}</p>
               <p *ngIf="phone.errors.pattern">{{'common.phone'|translate}}{{'common.isInvalid'|translate}}</p>
             </div>
        <div class="input-group mb-1" title="{{'common.email'|translate}}" [ngClass]="{
          'has-danger': email.invalid && (email.dirty || email.touched),
          'has-success': email.valid && (email.dirty || email.touched)}">
               <span class="input-group-addon">
                 <i class="fa fa-envelope"></i>
               </span>
               <input type="email"
                      class="form-control"
                      formControlName="email"                      
                      placeholder="{{'common.email'|translate}}" />
             </div>
             <div style="color:red" *ngIf="email.errors && (email.dirty || email.touched )">
               <p *ngIf="email.errors.required">{{'common.email'|translate}}{{'common.isRequired'|translate}}</p>
               <p *ngIf="email.errors.pattern">{{'common.email'|translate}}{{'common.isInvalid'|translate}}</p>
             </div>
            

        
        <div class="modal-footer" *ngIf="editMode">
            <button type="button" class="btn btn-secondary" (click)="close()">{{'common.cancel'|translate}}</button>
            <button type="button" class="btn btn-primary" (click)="save()" [disabled]="data.valid !== true">{{'common.updateData' | translate}}</button>
        </div>

        <fieldset formGroupName="passwordGroup" *ngIf="(userIsSystemAdmin && editMode) || !editMode">
          <div class="input-group mb-1" title="{{'common.password'|translate}}"
               [ngClass]="{
       'has-danger': password.invalid && (password.dirty || password.touched),
       'has-success': password.valid && (password.dirty || password.touched)}">
            <span class="input-group-addon">
              <i class="fa fa-key" ></i>
            </span>
            <input type="password"
                   class="form-control"
                   required
                   formControlName="password"                   
                   placeholder="{{'common.password'|translate}}" />
          </div>
          <div style="color:red" *ngIf="password.errors && (password.dirty || password.touched )">
            <p *ngIf="password.errors.required">{{'common.password'|translate}}{{'common.isRequired'|translate}}</p>
            <p *ngIf="password.errors.minlength">{{'common.password'|translate}}{{'common.minLength'|translate:password.errors}}</p>
          </div>
          <div class="input-group mb-1" title="{{'common.confirmPassword'|translate}}"
               [ngClass]="{
       'has-danger': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),
       'has-success': confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)}">
            <span class="input-group-addon">
              <i class="fa fa-key" ></i>
            </span>
            <input type="password"
                   class="form-control"
                   required
                   formControlName="confirmPassword"                   
                   placeholder="{{'common.confirmPassword'|translate}}" />
          </div>

          <div style="color:red" *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
            <p *ngIf="confirmPassword.errors.required">{{'common.confirmPassword'|translate}}{{'common.isRequired'|translate}}</p>
          </div>

          <div style="color:red" *ngIf="passwordGroup.errors && (password.dirty || password.touched) && (confirmPassword.dirty || confirmPassword.touched)">
            <p *ngIf="passwordGroup.errors.mismatch">{{'common.confirmPassword'|translate}}{{'common.mismatchWith'|translate}}{{'common.password'|translate}}</p>
          </div>
        </fieldset>
        

        <!-- <pre>{{formData | json}}</pre> -->
         <!-- <pre>{{myform.value | json}}</pre>   -->

      </form>

      <div class="modal-footer" *ngIf="(editMode && userIsSystemAdmin) || !editMode">
        <button type="button" class="btn btn-secondary" (click)="close()">{{'common.cancel'|translate}}</button>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="myform.valid !==true">{{'common.save'|translate}}</button>
      </div>
    </div>
  </div>
</div>
