<div class="app flex-row table">
  <div class="table-cell">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-2">
              <form novalidate
                    [formGroup]="myform" >
                <div class="card-block">
                  <h1>{{ 'pageLogin.title' | translate }}</h1>
                  <p >{{ 'pageLogin.subTitle' | translate }}</p>
                  <div class="input-group mb-1" [ngClass]="{
                    'has-danger': username.invalid && (username.dirty || username.touched),
                    'has-success': username.valid && (username.dirty || username.touched)}">

                    <div class="input-group dropdown" dropdown placement="bottom right">
                      <span class="input-group-addon">
                        <i class="icon-user"></i>
                      </span>
                      <input type="text"
                             class="form-control"
                             placeholder="{{ 'common.userName' | translate }}"
                             formControlName="username"
                             (keyup)="doLogin($event)"
                             maxlength="64"
                             required>
                    </div>

                  </div>

                  <div class="input-group mb-1" [ngClass]="{
                    'has-danger': password.invalid && (password.dirty || password.touched),
                    'has-success': password.valid && (password.dirty || password.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-lock"></i>
                    </span>
                    <input type="password"
                           class="form-control"
                           placeholder="{{ 'common.password' | translate }}"
                           formControlName="password"
                           maxlength="64"
                           (keyup)="doLogin($event)">
                  </div>

                  <div class="input-group mb-1">
                    
                    <div class="checkbox">
                        <input type="checkbox" formControlName="rememberMe" id="rememberMe" />
                        <label for="rememberMe"></label>      
                      </div>
                      <label for="rememberMe">{{ 'pageLogin.rememberMe' | translate }}</label> 
                  </div>
                  <div class="input-group mb-1" [ngClass]="{
                    'has-danger': language.invalid && (language.dirty || language.touched),
                    'has-success': language.valid && (language.dirty || language.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-home"></i>
                    </span>
                    <select class="form-control"
                            formControlName="language"
                            (change)="onLanguageChange(language.value)"
                            >
                      <option value="en-us">English</option>
                      <option value="zh-tw">繁體中文</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-2" (click)="loginByPassword()" [disabled]="!myform.valid || loading">{{ 'pageLogin.login' | translate }}</button>
                    </div>
                  </div>
                </div>
    </form>
    <div style="text-align:right">
    <h6>v1.0.0</h6>
  </div>
</div>
      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
