<div class="app flex-row table">
  <div class="table-cell">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-group mb-0">
            <div class="card p-2">
              <!-- <form class="login-form mt-lg"> -->
              <div class="card-block">
                <h1>Login</h1>
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group mb-1">

                  <div class="input-group dropdown" dropdown placement="bottom right">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Username" [(ngModel)]="model.username" [attr.disabled]="loading?'':null">
                    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown" style="overflow-y:auto; height:200px;">
                      <a class="dropdown-item" style="cursor: pointer;" *ngFor="let user of rememberUsers" (click)="loadRememberUser(user)">{{user.username}}</a>
                    </div>
                    <span role="button" class="input-group-addon dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                      dropdownToggle>
                      <span class="caret"></span>
                    </span>
                  </div>

                </div>

                <div class="input-group mb-1">
                  <span class="input-group-addon">
                    <i class="icon-lock"></i>
                  </span>
                  <input type="password" class="form-control" placeholder="Password" [(ngModel)]="model.password" [attr.disabled]="loading?'':null">
                </div>

                <div class="input-group mb-1">
                  <label class="checkbox-inline text-muted" for="checkboxRememberMe">
                    <input type="checkbox" id="checkboxRememberMe" name="checkboxRememberMe" [ngModel]="model.rememberMe"
                    (ngModelChange)="checkRememberMe($event)"> Remember Me
                  </label>

                  <a class="text-muted" style=" cursor: pointer;margin-left:30px;" (click)="forget();">
                    <i class="icon-trash"></i> Forget</a>
                </div>

                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-2" (click)="loginByPassword()">Login</button>
                  </div>
                </div>
              </div>
              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>