
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">

      <form novalidate
            [formGroup]="myform">

        <div class="input-group mb-1"
             [ngClass]="{
       'has-danger': name.invalid && (name.dirty || name.touched),
       'has-success': name.valid && (name.dirty || name.touched)}">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text"
                 class="form-control"
                 
                 required
                 formControlName="name"
                 placeholder="{{'pageFloor.floorName'|translate}}" />
        </div>
        <div style="color:red" *ngIf="name.errors && (name.dirty || name.touched )">
          <p *ngIf="name.errors.required">{{'pageFloor.floorName'|translate}}{{'common.isRequired'|translate}}</p>
          <p *ngIf="name.errors.minlength">{{'pageFloor.floorName'|translate}}{{'common.minLength'|translate:name.errors}}</p>
        </div>

        <div class="input-group mb-1"
             [ngClass]="{
       'has-danger': unitNo.invalid && (unitNo.dirty || unitNo.touched),
       'has-success': unitNo.valid && (unitNo.dirty || unitNo.touched)}">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text"
                 class="form-control"                 
                 required
                 formControlName="unitNo"
                 placeholder="{{'pageFloor.unitNo'|translate}}" />
        </div>
        <div style="color:red" *ngIf="unitNo.errors && (unitNo.dirty || unitNo.touched )">          
          <p *ngIf="unitNo.errors.required">{{'pageFloor.unitNo'|translate}}{{'common.isRequired'|translate}}</p>
          <p *ngIf="unitNo.errors.minlength">{{'pageFloor.unitNo'|translate}}{{'common.minLength'|translate:unitNo.errors}}</p>
        </div>


        <div class="input-group mb-1"
             [ngClass]="{
       'has-danger': phone.invalid && (phone.dirty || phone.touched),
       'has-success': phone.valid && (phone.dirty || phone.touched)}">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text"
                 class="form-control"
                 
                 required
                 formControlName="phone"
                 placeholder="{{'common.phone'|translate}}" />
        </div>
        <div style="color:red" *ngIf="phone.errors && (phone.dirty || phone.touched )">
          <p *ngIf="phone.errors.required">{{'common.phone'|translate}}{{'common.isRequired'|translate}}</p>
          <p *ngIf="phone.errors.minlength">{{'common.phone'|translate}}{{'common.minLength'|translate:phone.errors}}<br />{{'pageFloor.addComma'|translate}} </p>
          <p *ngIf="phone.errors.pattern">{{'common.phone'|translate}}{{'common.isInvalid'|translate}}</p>
        </div>

        <div class="input-group mb-1"
             [ngClass]="{
       'has-danger': floor.invalid && (floor.dirty || floor.touched),
       'has-success': floor.valid && (floor.dirty || floor.touched)}">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text"
                 class="form-control"
                 required
                 inputmode="numeric"
                 formControlName="floor"
                 placeholder="{{'pageFloor.floor'|translate}}" />
        </div>
        <div style="color:red" *ngIf="floor.errors && (floor.dirty || floor.touched )">
          <p *ngIf="floor.errors.required">{{'pageFloor.floor'|translate}}{{'common.isRequired'|translate}}</p>
          <p *ngIf="floor.errors.pattern">{{'pageFloor.floor'|translate}}{{'common.isInvalid'|translate}}</p>
        </div>

        <!--<pre>{{myform.value | json}}</pre>-->

      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">{{'common.cancel'|translate}}</button>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!myform.valid">{{'common.save'|translate}}</button>
      </div>
    </div>
  </div>
</div>
