
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
      <button type="button" class="close" (click)="close()">&times;</button>
    </div>
    <div class="modal-body">

      <form novalidate
            [formGroup]="myform">

        <div class="input-group mb-1"
             [ngClass]="{
       'has-danger': name.invalid && (name.dirty || name.touched),
       'has-success': name.valid && (name.dirty || name.touched)}">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text"
                 class="form-control"
                 
                 required
                 formControlName="name"
                 placeholder="Name" />
        </div>
        <div style="color:red" *ngIf="name.errors && (name.dirty || name.touched )">
          <p *ngIf="name.errors.required">Name is required</p>
          <p *ngIf="name.errors.minlength">Name must be 3 at least characters long</p>
        </div>

        <div class="input-group mb-1"
             [ngClass]="{
       'has-danger': unitNo.invalid && (unitNo.dirty || unitNo.touched),
       'has-success': unitNo.valid && (unitNo.dirty || unitNo.touched)}">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text"
                 class="form-control"                 
                 required
                 formControlName="unitNo"
                 placeholder="Unit No" />
        </div>
        <div style="color:red" *ngIf="unitNo.errors && (unitNo.dirty || unitNo.touched )">
          <p *ngIf="unitNo.errors.required">Unit No is required</p>
          <p *ngIf="unitNo.errors.minlength">Unit No must be 3 at least characters long</p>
        </div>


        <div class="input-group mb-1"
             [ngClass]="{
       'has-danger': phone.invalid && (phone.dirty || phone.touched),
       'has-success': phone.valid && (phone.dirty || phone.touched)}">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text"
                 class="form-control"
                 
                 required
                 formControlName="phone"
                 placeholder="Phone" />
        </div>
        <div style="color:red" *ngIf="phone.errors && (phone.dirty || phone.touched )">
          <p *ngIf="phone.errors.required">Phone is required</p>
          <p *ngIf="phone.errors.minlength">Phone must be 3 at least characters long<br /> add comma (,) for multiple phone numbers</p>
          <p *ngIf="phone.errors.pattern">Invalid phone pattern</p>
        </div>

        <div class="input-group mb-1"
             [ngClass]="{
       'has-danger': floor.invalid && (floor.dirty || floor.touched),
       'has-success': floor.valid && (floor.dirty || floor.touched)}">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="number"
                 class="form-control"
                 required
                 formControlName="floor"
                 placeholder="floor" />
        </div>
        <div style="color:red" *ngIf="floor.errors && (floor.dirty || floor.touched )">
          <p *ngIf="floor.errors.required">floor is required</p>          
        </div>

        <!--<pre>{{myform.value | json}}</pre>-->

      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!myform.valid">Save</button>
      </div>
    </div>
  </div>
</div>
