<ng-progress></ng-progress>
<div class="animated fadeIn">
  <div class="row" >      
          <div class="card border-none col-md-4">          
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="{{'common.search' | translate}}" (keyup)="itemSearch($event)" />
                <span class="input-group-addon" (click)="doSearch()">
                  <i class="fa fa-search"></i>
                </span>
              </div>        
          </div>
      </div>
    
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i>{{'pageCompany.company' | translate}}
            </div>
            <div class="card-block" *ngIf="isAdmin">  
                <div class="col-md-1 offset-md-11">                  
                  <button type="button" class="btn btn-primary" data-toggle="modal" (click)="createNew(); " [disabled]="isLoading()">
                    {{'common.new' | translate}}
                  </button>
              </div>
            <div class="card-block">      
          <table datatable class="table table-striped table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th style="width: 5%">{{'common.no' | translate}}</th>
                <th style="width: 25%">
                  <mfDefaultSorter by="updatedAt">{{'common.name' | translate}}</mfDefaultSorter>
                </th>
                <th >
                  {{'pageCompany.floor' | translate}}
                </th>
                <th >
                  {{'pageCompany.contactPerson' | translate}}
                </th>
                <th >
                  {{'pageCompany.unitNumber' | translate}}
                </th>
                <th >
                  {{'pageCompany.contactNumber' | translate}}
                </th>

                <th >{{'common.edit' | translate}}</th>
                <th >{{'common.delete' | translate}}</th>
              </tr>
            </thead>
            <tbody>
              
              <tr *ngFor="let item of mf.data; let i = index">
                <td>{{(i+(mf.activePage -1)*mf.rowsOnPage)+1}}</td>

                <td>{{item.name}}</td>
                <td>
                  <ul>
                    <li *ngFor="let floor of item.floor">{{floor.name}}</li>
                  </ul>
                </td>
                <td>
                  {{item.contactPerson}}
                </td>
                <td>
                  {{item.unitNumber}}
                </td>
                <td>
                  <ul *ngIf="item.contactNumber">
                    <li *ngFor="let phone of item.contactNumber">{{phone}}</li>
                  </ul>
                </td>
                <td>
                  <a class="fa fa-pencil fa-lg" (click)="$event.stopPropagation();edit(item);"></a>
                </td>
                <td>
                  <a class="fa fa-remove fa-lg" (click)="$event.stopPropagation();delete(item)"></a>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="4">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



