<ng-progress></ng-progress>
<div class="animated fadeIn">
    <div class="card col-md-6">
        <div class="card-block">
<form novalidate 
      [formGroup]="myform">
  <div class="input-group mb-1" title="{{'pageFrs.ipAddress'|translate}}" [ngClass]="{
       'has-danger': ip.invalid && (ip.dirty || ip.touched),
       'has-success': ip.valid && (ip.dirty || ip.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-envelope"></i>
    </span>
    <input type="text"
           class="form-control"
           
           formControlName="ip"
          
           placeholder="{{'pageFrs.ipAddress'|translate}}" />
  </div>
  <div style="color:red" *ngIf="ip.errors && (ip.dirty || ip.touched )">
    <p *ngIf="ip.errors.required">{{'pageFrs.ipAddress'|translate}}{{'common.isRequired'|translate}}</p>
    <p *ngIf="ip.errors.pattern">{{'pageFrs.ipAddress'|translate}}{{'common.isInvalid'|translate}}</p>
  </div>

  <div class="input-group mb-1" title="{{'pageFrs.wsPort'|translate}}" [ngClass]="{
       'has-danger': wsport.invalid && (wsport.dirty || wsport.touched),
       'has-success': wsport.valid && (wsport.dirty || wsport.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-envelope"></i>
    </span>
    <input type="text"
           class="form-control"
           
           inputmode="numeric"
           formControlName="wsport"
          
           placeholder="{{'pageFrs.wsPort'|translate}}" />
  </div>
  <div style="color:red" *ngIf="wsport.errors && (wsport.dirty || wsport.touched )">
    <p *ngIf="wsport.errors.required">{{'pageFrs.wsPort' | translate}}{{'common.isRequired' | translate}}</p>
    <p *ngIf="wsport.errors.pattern">{{'pageFrs.wsPort' | translate}}{{ 'common.isInvalid' | translate}}</p>
  </div>

  <div class="input-group mb-1" title="{{'common.account'|translate}}"
       [ngClass]="{
       'has-danger': account.invalid && (account.dirty || account.touched),
       'has-success': account.valid && (account.dirty || account.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-user"></i>
    </span>
    <input type="text"
           class="form-control"
           [readonly]="editMode"
           
           formControlName="account"
          
           placeholder="{{'common.account'|translate}}" />
  </div>
  <div style="color:red" *ngIf="account.errors && (account.dirty || account.touched )">
    <p *ngIf="account.errors.required">{{'common.account'|translate}}{{'common.isRequired'|translate}}</p>
    <p *ngIf="account.errors.minlength">{{'common.account'|translate}}{{'common.minLength'|translate:account.errors}} </p>
  </div>

    <div class="input-group mb-1" title="{{'common.password'|translate}}"
         [ngClass]="{
       'has-danger': password.invalid && (password.dirty || password.touched),
       'has-success': password.valid && (password.dirty || password.touched)}">
      <span class="input-group-addon">
        <i class="fa fa-key"></i>
      </span>
      <input type="password"
             class="form-control"
             
             formControlName="password"
            
             placeholder="{{'common.password'|translate}}" />
    </div>
    <div style="color:red" *ngIf="password.errors && (password.dirty || password.touched )">
      <p *ngIf="password.errors.required">{{'common.password'|translate}}{{'common.isRequired'|translate}}</p>
      <p *ngIf="password.errors.minlength">{{'common.password'|translate}}{{'common.minLength'|translate:password.errors}} </p>
    </div>
    <!--<pre>{{myform.value | json}}</pre>-->
</form>

<div class="modal-footer">  
  <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!myform.valid || isLoading()">{{'common.save'|translate}}</button>
</div>
</div>
</div>
</div>
