<form novalidate 
      [formGroup]="myform">
  <div class="input-group mb-1" [ngClass]="{
       'has-danger': ip.invalid && (ip.dirty || ip.touched),
       'has-success': ip.valid && (ip.dirty || ip.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-envelope"></i>
    </span>
    <input type="text"
           class="form-control"
           formControlName="ip"
           placeholder="ip" />
  </div>
  <div style="color:red" *ngIf="ip.errors && (ip.dirty || ip.touched )">
    <p *ngIf="ip.errors.required">{{'common.required'|translate}}</p>
    <p *ngIf="ip.errors.pattern">The ip address must follow this format 0.0.0.0</p>
  </div>

  <div class="input-group mb-1" [ngClass]="{
       'has-danger': wsport.invalid && (wsport.dirty || wsport.touched),
       'has-success': wsport.valid && (wsport.dirty || wsport.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-envelope"></i>
    </span>
    <input type="number"
           class="form-control"
           formControlName="wsport"
           placeholder="wsport" />
  </div>
  <div style="color:red" *ngIf="wsport.errors && (wsport.dirty || wsport.touched )">
    <p *ngIf="wsport.errors.required">{{'common.required'|translate}}</p>
    <p *ngIf="wsport.errors.pattern">only number is allowed</p>
  </div>

  <div class="input-group mb-1"
       [ngClass]="{
       'has-danger': account.invalid && (account.dirty || account.touched),
       'has-success': account.valid && (account.dirty || account.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-user"></i>
    </span>
    <input type="text"
           class="form-control"
           [readonly]="editMode"
           required
           formControlName="account"
           placeholder="account" />
  </div>
  <div style="color:red" *ngIf="account.errors && (account.dirty || account.touched )">
    <p *ngIf="account.errors.required">{{'common.required'|translate}}</p>
  </div>

    <div class="input-group mb-1"
         [ngClass]="{
       'has-danger': password.invalid && (password.dirty || password.touched),
       'has-success': password.valid && (password.dirty || password.touched)}">
      <span class="input-group-addon">
        <i class="fa fa-key"></i>
      </span>
      <input type="password"
             class="form-control"
             required
             formControlName="password"
             placeholder="{{'common.password'|translate}}" />
    </div>
    <div style="color:red" *ngIf="password.errors && (password.dirty || password.touched )">
      <p *ngIf="password.errors.required">{{'common.required'|translate}}</p>
      <p *ngIf="password.errors.minlength">Password must be 6 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
    </div>
    <!--<pre>{{myform.value | json}}</pre>-->
</form>

<div class="modal-footer">  
  <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!myform.valid">{{'common.save'|translate}}</button>
</div>
