<div class="animated fadeIn">
    <form #serverForm="ngForm" action="javascript:void(0);" (ngSubmit)="serverForm.valid && onFormSubmit(serverForm); largeModal.hide();">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <input type="checkbox" id="apn_notification_setting" name="apn_notification_setting" [(ngModel)]="model.apn_notification_setting"> APN Notification Setting
            </div>

            <div class="card-block row">
                <div class="input-group mb-1" [ngClass]="{ 'has-danger': apntopic.invalid && (apntopic.dirty || apntopic.touched), 'has-success': apntopic.valid && (apntopic.dirty || apntopic.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="apntopic" name="apntopic" #apntopic="ngModel" [ngClass]="{ 'form-control-danger': apntopic.invalid && (apntopic.dirty ||apntopic.touched), 'form-control-success': apntopic.valid && (apntopic.dirty || apntopic.touched)}"
                        placeholder="com.isapsolution.frs" [(ngModel)]="model.apns_push_settings.apns_topic" [disabled]="!model.apn_notification_setting">
                </div>
                <div style="color:red" *ngIf="apntopic.errors && (apntopic.dirty || apntopic.touched || serverForm.submitted)">
                    <p *ngIf="apntopic.errors.required">
                        The APNS Topic is required
                    </p>
                </div>

                <div class="input-group mb-1" [ngClass]="{ 'has-danger': apnkey.invalid && (apnkey.dirty || apnkey.touched), 'has-success': apnkey.valid && (apnkey.dirty || apnkey.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="apnkey" name="apnkey" #apnkey="ngModel" [ngClass]="{ 'form-control-danger': apnkey.invalid && (apnkey.dirty ||apnkey.touched), 'form-control-success': apnkey.valid && (apnkey.dirty || apnkey.touched)}"
                        placeholder="APNS Key" [(ngModel)]="model.apns_push_settings.apns_key" [disabled]="!model.apn_notification_setting">
                </div>
                <div style="color:red" *ngIf="apnkey.errors && (apnkey.dirty || apnkey.touched || serverForm.submitted)">
                    <p *ngIf="apnkey.errors.required">
                        The APNS Key is required
                    </p>
                </div>

                <div class="input-group mb-1" [ngClass]="{ 'has-danger': apnkeyid.invalid && (apnkeyid.dirty || apnkeyid.touched), 'has-success': apnkeyid.valid && (apnkeyid.dirty || apnkeyid.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="apnkeyid" name="apnkeyid" #apnkeyid="ngModel" [ngClass]="{ 'form-control-danger': apnkeyid.invalid && (apnkeyid.dirty ||apnkeyid.touched), 'form-control-success': apnkeyid.valid && (apnkeyid.dirty || apnkeyid.touched)}"
                        placeholder="APNS Key Id" [(ngModel)]="model.apns_push_settings.apns_key_id" [disabled]="!model.apn_notification_setting">
                </div>
                <div style="color:red" *ngIf="apnkeyid.errors && (apnkeyid.dirty || apnkeyid.touched || serverForm.submitted)">
                    <p *ngIf="apnkeyid.errors.required">
                        The APNS Key Id is required
                    </p>
                </div>

                <div class="input-group mb-1" [ngClass]="{ 'has-danger': apnteamid.invalid && (apnteamid.dirty || apnteamid.touched), 'has-success': apnteamid.valid && (apnteamid.dirty || apnteamid.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="apnteamid" name="apnteamid" #apnteamid="ngModel" [ngClass]="{'form-control-danger': apnteamid.invalid && (apnteamid.dirty ||apnteamid.touched), 'form-control-success': apnteamid.valid && (apnteamid.dirty || apnteamid.touched)}"
                        placeholder="APNS Team Id" [(ngModel)]="model.apns_push_settings.apns_team_id" [disabled]="!model.apn_notification_setting">
                </div>
                <div style="color:red" *ngIf="apnteamid.errors && (apnteamid.dirty || apnteamid.touched || serverForm.submitted)">
                    <p *ngIf="apnteamid.errors.required">
                        The APNS Team Id is required
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <input type="checkbox" id="fcm_notification_setting" name="fcm_notification_setting" [(ngModel)]="model.fcm_notification_setting"> FCM Notification Setting
            </div>
            <div class="card-block row">
                <div class="input-group mb-1" [ngClass]="{ 'has-danger': fcmkey.invalid && (fcmkey.dirty || fcmkey.touched), 'has-success': fcmkey.valid && (fcmkey.dirty || fcmkey.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="fcmkey" name="fcmkey" #fcmkey="ngModel" [ngClass]="{ 'form-control-danger': fcmkey.invalid && (fcmkey.dirty ||fcmkey.touched), 'form-control-success': fcmkey.valid && (fcmkey.dirty || fcmkey.touched)}"
                        placeholder="FCM Key" [(ngModel)]="model.fcm_push_settings.fcm_key" [disabled]="!model.fcm_notification_setting">
                </div>
                <div style="color:red" *ngIf="fcmkey.errors && (fcmkey.dirty || fcmkey.touched || serverForm.submitted)">
                    <p *ngIf="fcmkey.errors.required">
                        The FCM Key is required
                    </p>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <input type="checkbox" id="smtp_setting" name="smtp_setting" [(ngModel)]="model.smtp_setting"> SMTP Setting
            </div>
            <div class="card-block row">
                <div class="input-group mb-1" [ngClass]="{ 'has-danger': smtphost.invalid && (smtphost.dirty || smtphost.touched), 'has-success': smtphost.valid && (smtphost.dirty || smtphost.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="smtphost" name="smtphost" #smtphost="ngModel" [ngClass]="{ 'form-control-danger': smtphost.invalid && (smtphost.dirty ||smtphost.touched), 'form-control-success': smtphost.valid && (smtphost.dirty || smtphost.touched)}"
                        placeholder="SMTP Server" [(ngModel)]="model.mail_server_settings.mail_server_host_address" [disabled]="!model.smtp_setting">
                </div>
                <div style="color:red" *ngIf="smtphost.errors && (smtphost.dirty || smtphost.touched || serverForm.submitted)">
                    <p *ngIf="smtphost.errors.required">
                        The SMTP Server is required
                    </p>
                </div>

                <div class="input-group mb-1">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;margin-left: 8px;" for="smtp">
                        <input type="radio" id="smtp" name="smtp" [value]="0" [(ngModel)]="model.mail_server_settings.mail_server_host_secure" [checked]="model.mail_server_settings.mail_server_host_secure==0" [disabled]="!model.smtp_setting"> SMTP
                    </label>
                    <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;" for="tls">
                        <input type="radio" id="tls" name="tls" [value]="1" [(ngModel)]="model.mail_server_settings.mail_server_host_secure" [checked]="model.mail_server_settings.mail_server_host_secure==1" [disabled]="!model.smtp_setting"> TLS
                    </label>
                    <label class="radio-inline" style="margin-top: 8px; margin-right: 10px;" for="ssl">
                        <input type="radio" id="ssl" name="ssl" [value]="2" [(ngModel)]="model.mail_server_settings.mail_server_host_secure" [checked]="model.mail_server_settings.mail_server_host_secure==2" [disabled]="!model.smtp_setting"> SSL
                    </label>
                </div>

                <div class="input-group mb-1" [ngClass]="{ 'has-danger': smtpport.invalid && (smtpport.dirty || smtpport.touched), 'has-success': smtpport.valid && (smtpport.dirty || smtpport.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="smtpport" name="smtpport" #smtpport="ngModel" [ngClass]="{ 'form-control-danger': smtpport.invalid && (smtpport.dirty ||smtpport.touched), 'form-control-success': smtpport.valid && (smtpport.dirty || smtpport.touched)}"
                        placeholder="SMTP Server Port" [(ngModel)]="model.mail_server_settings.mail_server_host_port" [disabled]="!model.smtp_setting">
                </div>
                <div style="color:red" *ngIf="smtpport.errors && (smtpport.dirty || smtpport.touched || serverForm.submitted)">
                    <p *ngIf="smtpport.errors.required">
                        The SMTP Port is required
                    </p>
                </div>

                <div class="input-group mb-1">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" id="sendername" name="sendername" #sendername="ngModel" placeholder="Sender Name" [(ngModel)]="model.mail_server_settings.mail_server_sender_name" [disabled]="!model.smtp_setting">
                </div>

                <div class="input-group mb-1" [ngClass]="{ 'has-danger': senderaccount.invalid && (senderaccount.dirty || senderaccount.touched), 'has-success': senderaccount.valid && (senderaccount.dirty || senderaccount.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="senderaccount" name="senderaccount" #senderaccount="ngModel" 
                        [ngClass]="{ 'form-control-danger': senderaccount.invalid && (senderaccount.dirty ||senderaccount.touched), 'form-control-success': senderaccount.valid && (senderaccount.dirty || senderaccount.touched)}"
                        placeholder="Sender Account" [(ngModel)]="model.mail_server_settings.mail_server_sender_username" [disabled]="!model.smtp_setting">
                </div>
                <div style="color:red" *ngIf="senderaccount.errors && (senderaccount.dirty || senderaccount.touched || serverForm.submitted)">
                    <p *ngIf="senderaccount.errors.required">
                        The Sender Account is required
                    </p>
                </div>

                <div class="input-group mb-1" [ngClass]="{ 'has-danger': senderpassword.invalid && (senderpassword.dirty || senderpassword.touched), 'has-success': senderpassword.valid && (senderpassword.dirty || senderpassword.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="password" class="form-control" required id="senderpassword" name="senderpassword" #senderpassword="ngModel" 
                        [ngClass]="{ 'form-control-danger': senderpassword.invalid && (senderpassword.dirty ||senderpassword.touched), 'form-control-success': senderpassword.valid && (senderpassword.dirty || senderpassword.touched)}"
                        placeholder="Sender Password" [(ngModel)]="model.mail_server_settings.mail_server_sender_password" [disabled]="!model.smtp_setting">
                </div>
                <div style="color:red" *ngIf="senderpassword.errors && (senderpassword.dirty || senderpassword.touched || serverForm.submitted)">
                    <p *ngIf="senderpassword.errors.required">
                        The Sender Password is required
                    </p>
                </div>


            </div>
        </div>

        <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!serverForm.valid">Save</button>
        </div>
    </form>
</div>