<div class="animated fadeIn">
    <form #serverForm="ngForm" action="javascript:void(0);" (ngSubmit)="serverForm.valid && onFormSubmit(serverForm); largeModal.hide();">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <input type="checkbox" id="apn_notification_setting" name="apn_notification_setting" [(ngModel)]="model.apn_notification_setting"> APN Notification Setting
            </div>

            <div class="card-block row">
                <div class="input-group mb-1" [ngClass]="{ 'has-danger': apntopic.invalid && (apntopic.dirty || apntopic.touched), 'has-success': apntopic.valid && (apntopic.dirty || apntopic.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="apntopic" name="apntopic" #apntopic="ngModel" [ngClass]="{ 'form-control-danger': apntopic.invalid && (apntopic.dirty ||apntopic.touched), 'form-control-success': apntopic.valid && (apntopic.dirty || apntopic.touched)}"
                        placeholder="com.isapsolution.frs" [(ngModel)]="model.apns_push_settings.apns_topic" [disabled]="!model.apn_notification_setting">
                </div>
                <div style="color:red" *ngIf="apntopic.errors && (apntopic.dirty || apntopic.touched || serverForm.submitted)">
                    <p *ngIf="apntopic.errors.required">
                        The APNS Topic is required
                    </p>
                </div>

                <div class="input-group mb-1" [ngClass]="{ 'has-danger': apnkey.invalid && (apnkey.dirty || apnkey.touched), 'has-success': apnkey.valid && (apnkey.dirty || apnkey.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="apnkey" name="apnkey" #apnkey="ngModel" [ngClass]="{ 'form-control-danger': apnkey.invalid && (apnkey.dirty ||apnkey.touched), 'form-control-success': apnkey.valid && (apnkey.dirty || apnkey.touched)}"
                        placeholder="APNS Key" [(ngModel)]="model.apns_push_settings.apns_key" [disabled]="!model.apn_notification_setting">
                </div>
                <div style="color:red" *ngIf="apnkey.errors && (apnkey.dirty || apnkey.touched || serverForm.submitted)">
                    <p *ngIf="apnkey.errors.required">
                        The APNS Key is required
                    </p>
                </div>

                <div class="input-group mb-1" [ngClass]="{ 'has-danger': apnkeyid.invalid && (apnkeyid.dirty || apnkeyid.touched), 'has-success': apnkeyid.valid && (apnkeyid.dirty || apnkeyid.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="apnkeyid" name="apnkeyid" #apnkeyid="ngModel" [ngClass]="{ 'form-control-danger': apnkeyid.invalid && (apnkeyid.dirty ||apnkeyid.touched), 'form-control-success': apnkeyid.valid && (apnkeyid.dirty || apnkeyid.touched)}"
                        placeholder="APNS Key Id" [(ngModel)]="model.apns_push_settings.apns_key_id" [disabled]="!model.apn_notification_setting">
                </div>
                <div style="color:red" *ngIf="apnkeyid.errors && (apnkeyid.dirty || apnkeyid.touched || serverForm.submitted)">
                    <p *ngIf="apnkeyid.errors.required">
                        The APNS Key Id is required
                    </p>
                </div>

                <div class="input-group mb-1" [ngClass]="{ 'has-danger': apnteamid.invalid && (apnteamid.dirty || apnteamid.touched), 'has-success': apnteamid.valid && (apnteamid.dirty || apnteamid.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="apnteamid" name="apnteamid" #apnteamid="ngModel" [ngClass]="{'form-control-danger': apnteamid.invalid && (apnteamid.dirty ||apnteamid.touched), 'form-control-success': apnteamid.valid && (apnteamid.dirty || apnteamid.touched)}"
                        placeholder="APNS Team Id" [(ngModel)]="model.apns_push_settings.apns_team_id" [disabled]="!model.apn_notification_setting">
                </div>
                <div style="color:red" *ngIf="apnteamid.errors && (apnteamid.dirty || apnteamid.touched || serverForm.submitted)">
                    <p *ngIf="apnteamid.errors.required">
                        The APNS Team Id is required
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> <input type="checkbox" id="fcm_notification_setting" name="fcm_notification_setting" [(ngModel)]="model.fcm_notification_setting"> FCM Notification Setting
            </div>
            <div class="card-block row">
                <div class="input-group mb-1" [ngClass]="{ 'has-danger': fcmkey.invalid && (fcmkey.dirty || fcmkey.touched), 'has-success': fcmkey.valid && (fcmkey.dirty || fcmkey.touched)}">
                    <span class="input-group-addon">
                      <i class="icon-user"></i>
                    </span>
                    <input type="text" class="form-control" required id="fcmkey" name="fcmkey" #fcmkey="ngModel" [ngClass]="{ 'form-control-danger': fcmkey.invalid && (fcmkey.dirty ||fcmkey.touched), 'form-control-success': fcmkey.valid && (fcmkey.dirty || fcmkey.touched)}"
                        placeholder="FCM Key" [(ngModel)]="model.fcm_push_settings.fcm_key" [disabled]="!model.fcm_notification_setting">
                </div>
                <div style="color:red" *ngIf="fcmkey.errors && (fcmkey.dirty || fcmkey.touched || serverForm.submitted)">
                    <p *ngIf="fcmkey.errors.required">
                        The FCM Key is required
                    </p>
                </div>
            </div>
        </div>


        <div class="modal-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!serverForm.valid">Save</button>
        </div>
    </form>
</div>
