<form novalidate
      [formGroup]="myform">
  <div class="input-group mb-1" [ngClass]="{
       'has-danger': ip.invalid && (ip.dirty || ip.touched),
       'has-success': ip.valid && (ip.dirty || ip.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-envelope"></i>
    </span>
    <input type="text"
           class="form-control"
           formControlName="ip"
           placeholder="ip" />
  </div>
  <div style="color:red" *ngIf="ip.errors && (ip.dirty || ip.touched )">
    <p *ngIf="ip.errors.required">ip is required</p>
    <p *ngIf="ip.errors.pattern">The ip address must follow this format 0.0.0.0</p>
  </div>

  <div class="input-group mb-1" [ngClass]="{
       'has-danger': port.invalid && (port.dirty || port.touched),
       'has-success': port.valid && (port.dirty || port.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-envelope"></i>
    </span>
    <input type="number"
           class="form-control"
           formControlName="port"
           placeholder="port" />
  </div>
  <div style="color:red" *ngIf="port.errors && (port.dirty || port.touched )">
    <p *ngIf="port.errors.required">port is required</p>
    <p *ngIf="port.errors.pattern">only number is allowed</p>
  </div>

  <div class="input-group mb-1"
       [ngClass]="{
       'has-danger': account.invalid && (account.dirty || account.touched),
       'has-success': account.valid && (account.dirty || account.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-user"></i>
    </span>
    <input type="text"
           class="form-control"
           [readonly]="editMode"
           required
           formControlName="account"
           placeholder="account" />
  </div>
  <div style="color:red" *ngIf="account.errors && (account.dirty || account.touched )">
    <p *ngIf="account.errors.required">account is required</p>
  </div>

  <div class="input-group mb-1"
       [ngClass]="{
       'has-danger': password.invalid && (password.dirty || password.touched),
       'has-success': password.valid && (password.dirty || password.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-key"></i>
    </span>
    <input type="password"
           class="form-control"
           required
           formControlName="password"
           placeholder="password" />
  </div>
  <div style="color:red" *ngIf="password.errors && (password.dirty || password.touched )">
    <p *ngIf="password.errors.required">Password is required</p>
    <p *ngIf="password.errors.minlength">Password must be 6 characters long, we need another {{password.errors.minlength.requiredLength - password.errors.minlength.actualLength}} characters </p>
  </div>
  <div class="input-group mb-1"
       [ngClass]="{
       'has-danger': security.invalid && (security.dirty || security.touched),
       'has-success': security.valid && (security.dirty || security.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-key"></i>
    </span>
    <select class="form-control"
            formControlName="security">      
      <option *ngFor="let option of securityOption"
              [value]="option">
        {{option}}
      </option>
    </select>
  </div>
  <div style="color:red" *ngIf="security.errors && (security.dirty || security.touched )">
    <p *ngIf="security.errors.required">security is required</p>    
  </div>

  <!--<pre>{{myform.value | json}}</pre>-->
</form>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!myform.valid">Save</button>
</div>
