<form novalidate
      [formGroup]="myform">
  <div class="input-group mb-1" [ngClass]="{
       'has-danger': ip.invalid && (ip.dirty || ip.touched),
       'has-success': ip.valid && (ip.dirty || ip.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-envelope"></i>
    </span>
    <input type="text"
           class="form-control"
           required
           formControlName="ip"
           placeholder="{{'pageEmail.smtpHost'|translate}}" />
  </div>
  <div style="color:red" *ngIf="ip.errors && (ip.dirty || ip.touched )">
    <p *ngIf="ip.errors.required">{{'pageEmail.smtpHost'|translate}}{{'common.isRequired'|translate}}</p>
    <p *ngIf="ip.errors.pattern">{{'pageEmail.smtpHost'|translate}}{{'common.isInvalid'|translate}}</p>
  </div>

  <div class="input-group mb-1" [ngClass]="{
       'has-danger': port.invalid && (port.dirty || port.touched),
       'has-success': port.valid && (port.dirty || port.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-envelope"></i>
    </span>
    <input type="text"
           class="form-control"
           required
           formControlName="port"
           placeholder="{{'pageEmail.port'|translate}}" />
  </div>
  <div style="color:red" *ngIf="port.errors && (port.dirty || port.touched )">
    <p *ngIf="port.errors.required">{{'pageEmail.port'|translate}}{{'common.isRequired'|translate}}</p>
    <p *ngIf="port.errors.pattern">{{'pageEmail.port'|translate}}{{'common.isInvalid'|translate}}</p>
  </div>

  <div class="input-group mb-1"
       [ngClass]="{
       'has-danger': account.invalid && (account.dirty || account.touched),
       'has-success': account.valid && (account.dirty || account.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-user"></i>
    </span>
    <input type="text"
           class="form-control"
           [readonly]="editMode"
           required
           formControlName="account"
           placeholder="{{'common.account'|translate}}" />
  </div>
  <div style="color:red" *ngIf="account.errors && (account.dirty || account.touched )">
    <p *ngIf="account.errors.required">{{'common.account'|translate}}{{'common.isRequired'|translate}}</p>
    <p *ngIf="account.errors.minlength">{{'common.account'|translate}}{{'common.minLength'|translate:account.errors}}</p>
  </div>

  <div class="input-group mb-1"
       [ngClass]="{
       'has-danger': password.invalid && (password.dirty || password.touched),
       'has-success': password.valid && (password.dirty || password.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-key"></i>
    </span>
    <input type="password"
           class="form-control"
           required
           formControlName="password"
           placeholder="{{'common.password'|translate}}" />
  </div>
  <div style="color:red" *ngIf="password.errors && (password.dirty || password.touched )">
    <p *ngIf="password.errors.required">{{'common.password'|translate}}{{'common.isRequired'|translate}}</p>
    <p *ngIf="password.errors.minlength">{{'common.password'|translate}}{{'common.minLength'|translate:password.errors}}</p>
  </div>
  <div class="input-group mb-1"
       [ngClass]="{
       'has-danger': security.invalid && (security.dirty || security.touched),
       'has-success': security.valid && (security.dirty || security.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-key"></i>
    </span>
    <select class="form-control"
            required
            formControlName="security">      
      <option *ngFor="let option of securityOption"
              [value]="option">
        {{option}}
      </option>
    </select>
  </div>
  <div style="color:red" *ngIf="security.errors && (security.dirty || security.touched )">
    <p *ngIf="security.errors.required">{{'pageEmail.security'|translate}}{{'common.isRequired'|translate}}</p>    
  </div>

  <!--<pre>{{myform.value | json}}</pre>-->
</form>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!myform.valid || loading">{{'common.save'|translate}}</button>
</div>
