<ng-progress></ng-progress>
<div class="animated fadeIn">
  <div class="card col-md-6">
      <div class="card-block">
<form novalidate
      [formGroup]="myform" >
  <div class="input-group mb-1" title="{{'pageEmail.smtpHost'|translate}}" [ngClass]="{
       'has-danger': host.invalid && (host.dirty || host.touched),
       'has-success': host.valid && (host.dirty || host.touched)}">
    <span class="input-group-addon" >
      <i class="fa fa-envelope"></i>
    </span>
    <input type="text"
           class="form-control"           
           formControlName="host"
           placeholder="{{'pageEmail.smtpHost'|translate}}" />
  </div>
  <div style="color:red" *ngIf="host.errors && (host.dirty || host.touched )">
    <p *ngIf="host.errors.required">{{'pageEmail.smtpHost'|translate}}{{'common.isRequired'|translate}}</p>
    <p *ngIf="host.errors.pattern">{{'pageEmail.smtpHost'|translate}}{{'common.isInvalid'|translate}}</p>
  </div>

  <div class="input-group mb-1" title="{{'pageEmail.port'|translate}}" [ngClass]="{
       'has-danger': port.invalid && (port.dirty || port.touched),
       'has-success': port.valid && (port.dirty || port.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-envelope"></i>
    </span>
    <input type="text"
           class="form-control"
           inputmode="numeric"           
           formControlName="port"
           placeholder="{{'pageEmail.port'|translate}}" />
  </div>
  <div style="color:red" *ngIf="port.errors && (port.dirty || port.touched )">
    <p *ngIf="port.errors.required">{{'pageEmail.port'|translate}}{{'common.isRequired'|translate}}</p>
    <p *ngIf="port.errors.pattern">{{'pageEmail.port'|translate}}{{'common.isInvalid'|translate}}</p>
  </div>

  <div class="input-group mb-1" title="{{'common.email'|translate}}"
       [ngClass]="{
       'has-danger': email.invalid && (email.dirty || email.touched),
       'has-success': email.valid && (email.dirty || email.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-user"></i>
    </span>
    <input type="text"
           class="form-control"
           formControlName="email"
           placeholder="{{'common.email'|translate}}" />
  </div>
  <div style="color:red" *ngIf="email.errors && (email.dirty || email.touched )">
    <p *ngIf="email.errors.required">{{'common.email'|translate}}{{'common.isRequired'|translate}}</p>
    <p *ngIf="email.errors.minlength">{{'common.email'|translate}}{{'common.minLength'|translate:email.errors}}</p>
  </div>

  <div class="input-group mb-1" title="{{'common.password'|translate}}"
       [ngClass]="{
       'has-danger': password.invalid && (password.dirty || password.touched),
       'has-success': password.valid && (password.dirty || password.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-key"></i>
    </span>
    <input type="password"
           class="form-control"
           formControlName="password"           
           placeholder="{{'common.password'|translate}}" />
  </div>
  <div style="color:red" *ngIf="password.errors && (password.dirty || password.touched )">
    <p *ngIf="password.errors.required">{{'common.password'|translate}}{{'common.isRequired'|translate}}</p>
    <p *ngIf="password.errors.minlength">{{'common.password'|translate}}{{'common.minLength'|translate:password.errors}}</p>
  </div>
  <div class="input-group mb-1" title="{{'common.enabled'|translate}}"
       [ngClass]="{
       'has-danger': enable.invalid && (enable.dirty || enable.touched),
       'has-success': enable.valid && (enable.dirty || enable.touched)}">
    <span class="input-group-addon">
      <i class="fa fa-key"></i>
    </span>
    <input type="checkbox"  
      class="form-control"
      formControlName="enable"/>      
    <label class="checkbox-inline" for="enable">{{'common.enabled'|translate}}</label>
  </div>
  <div style="color:red" *ngIf="enable.errors && (enable.dirty || enable.touched )">
    <p *ngIf="enable.errors.required">{{'common.enabled'|translate}}{{'common.isRequired'|translate}}</p>    
  </div>

  <div class="input-group mb-1" title="{{'pageEmail.testEmail'|translate}}"
  [ngClass]="{
  'has-danger': testEmail.invalid && (testEmail.dirty || testEmail.touched),
  'has-success': testEmail.valid && (testEmail.dirty || testEmail.touched)}">
<span class="input-group-addon">
 <i class="fa fa-envelope"></i>
</span>
<input type="text"
class="form-control"
formControlName="testEmail"
placeholder="{{'pageEmail.testEmail'|translate}}" />
<button type="button" class="btn btn-primary" (click)="sendTestEmail()" [disabled]="!testEmail.valid || isLoading() || testEmail.value==''">{{'common.send'|translate}}</button>
</div>
<div style="color:red" *ngIf="testEmail.errors && (testEmail.dirty || testEmail.touched )">
<p *ngIf="testEmail.errors.pattern">{{'pageEmail.testEmail'|translate}}{{'common.isInvalid'|translate}}</p>    
</div>

  <!-- <pre>{{myform.value | json}}</pre> -->
</form>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!myform.valid || isLoading()">{{'common.save'|translate}}</button>
</div>
</div>
</div>
</div>