<div class="animated fadeIn">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="newPerson(); largeModal.show()">
          New Person
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>Persons
        </div>
        <div class="card-block">
          <table datatable class="table table-striped table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="1">
            <thead>
              <tr>
                <th style="width: 5%">No</th>
<th style="width: 10%">Employee No</th>
<th style="width: 30%">Full Name</th>
<th style="width: 20%">Groups</th>
<th style="width: 30%">Image</th>
<th style="width: 5%"></th>
</tr>
</thead>
<tbody>
  <tr *ngFor="let item of mf.data; let i = index; async">
    <td>{{i + 1}}</td>
    <td>{{item.employeeno}}</td>
    <td>{{item.fullname}}</td>
    <td>{{group_names(item.groups).toString()}}</td>
    <td>
      <img src="data:image/jpg;base64,{{item.image}}" width="100px" height="100px;">
    </td>
    <td>
      <a class="fa fa-pencil fa-lg" style="cursor: pointer;" (click)="$event.stopPropagation();modifyPerson(item); largeModal.show()"></a>
<a class="fa fa-remove fa-lg" style="cursor: pointer;" (click)="$event.stopPropagation();deletePerson(item)"></a>
</td>
</tr>
</tbody>
<tfoot>
  <tr>
    <td colspan="6">
      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15,20]"></mfBootstrapPaginator>
    </td>
  </tr>
</tfoot>
</table>
</div>
</div>
</div>
</div>
</div>


<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center">

      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title">{{model.title}}</h4>
            <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form #personForm="ngForm" action="javascript:void(0);" (ngSubmit)="personForm.valid && onFormSubmit(personForm); largeModal.hide();">
            <div class="modal-body">
              <div class="card mx-2">
                <div class="card-block p-2 row">
                  <div class="col-md-8">
                    <div class="input-group mb-1">
                      <span class="input-group-addon"><i class="icon-user"></i></span>
                      <input type="text" class="form-control" id="employeeno" name="employeeno" #employeeno="ngModel" placeholder="Employee No" [(ngModel)]="model.employeeno">
                    </div>

                    <div class="input-group mb-1" [ngClass]="{ 'has-danger': fullname.invalid && (fullname.dirty || fullname.touched), 'has-success': fullname.valid && (fullname.dirty || fullname.touched)}">
                      <span class="input-group-addon"><i class="icon-user"></i></span>
                      <input type="text" class="form-control" required id="fullname" name="fullname" #fullname="ngModel" [ngClass]="{ 'form-control-danger': fullname.invalid && (fullname.dirty ||fullname.touched), 'form-control-success': fullname.valid && (fullname.dirty || fullname.touched)}"
                        placeholder="Full Name" [(ngModel)]="model.fullname">
                    </div>
                    <div style="color:red" *ngIf="fullname.errors && (fullname.dirty || fullname.touched || fullname.submitted)">
                      <p *ngIf="fullname.errors.required">
                        The Full Name is required
                      </p>
                    </div>

                    <div class="input-group mb-1" [ngClass]="{ 'has-danger': imageInput.invalid && (imageInput.dirty || imageInput.touched), 'has-success': imageInput.valid && (imageInput.dirty || imageInput.touched)}">
                      <span class="input-group-addon">
                        <i class="icon-emotsmile"></i>
                      </span>
                      <input type="file" class="form-control-file" data-show-preview="false" accept="image/*" required id="imageInput" name="imageInput"
                        #imageInput="ngModel" [ngClass]="{ 'form-control-danger': imageInput.invalid && (imageInput.dirty || imageInput.touched), 'form-control-success': imageInput.valid && (imageInput.dirty || imageInput.touched)}"
                        (change)="imageListener($event)" placeholder="Face Image" [(ngModel)]="model.image">
                    </div>
                    <div style="color:red" *ngIf="imageInput.errors && (imageInput.dirty || imageInput.touched || imageInput.submitted)">
                      <p *ngIf="imageInput.errors.required">
                        The Face Image is required
                      </p>
                    </div>

                    <div class="input-group mb-1">
                      <span class="input-group-addon">
                        <i class="icon-people"></i>
                      </span>
                      <ng-select #groupSelect class="form-control-ng-select" id="groups" name="groups" #groups="ngModel" [multiple]="true" [items]="personGroups" (selected)="selected($event)"
                        (removed)="removed($event)" placeholder="No group selected" [(ngModel)]="model.groups"> <!-- (data)="refreshValue($event)" -->
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <img [hidden]="showImage()" class="image" src="data:image/jpeg;base64,{{model.image}}">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
              <button type="submit" class="btn btn-primary" [disabled]="!personForm.valid">{{model.buttom}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>